html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-size: large;
   overflow-x: hidden;
   background-color: #eff0ef;
   font-family: "Poppins";
}

.header {
   display:flex;
  padding: 1% 5%;
  justify-content: space-between;
  background-image: linear-gradient(#212A31, #2E3944);
  font-style: italic;
  color: white;
}
h1,
h2{
   height:9vh ;
   box-shadow: 0px 3px 2px gray;
   color: white;
   text-align: center;
   font-family: "Merriweather";
}
img{
  cursor: pointer;
}

 nav a:hover, #read a:hover,button:hover {
   color: #FF6F61;
}
#logo{
   position: absolute;
   width: 8%;
  left: -2%;
  top: -1%;
   
}
button {
   cursor: pointer;
}

.home {
   text-align: center;
   position: relative;
   height: 100vh;
   border-bottom: solid 1px black;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.istockphoto.com/id/612619528/photo/hippie-woman-stroll-on-mountain.jpg?s=612x612&w=0&k=20&c=itnF_PSwxpOZGwi6_bEN217prgXIKNNN2UZzIpYLsNk=);
   background-repeat: no-repeat;
   background-size: cover;
}

#menu-button {
   font-size: 30px;
   cursor: pointer;
   background: none;
   border: none;
   color: white;
   z-index: 1001;
   position: relative;
}

#menu {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 25%;
   background-color: #424241;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transform: translateX(100%);
   transition: transform 0.4s ease;
   z-index: 1000;
}

#menu nav {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#menu nav a {
   color: #f1f3f5;
   text-decoration: none;
   font-size: 2rem;
   margin: 20px 0;
   transition: color 0.3s ease;
}

#menu nav a:hover {
   color: #00A8E8;
}

#menu.show {
   transform: translateX(0);
}

#close-button {
   position: absolute;
   top: 10px;
   right: 30px;
   font-size: 40px;
   background: none;
   border: none;
   color: white;
   cursor: pointer;
}
img:hover{
   transform: scale(1.06);
   transition: transform 0.1s ease-in-out;
}

h1 {
   color:brown;
   font-size: 400%;
   animation: fadeIn 2s ease forwards;
}

.home h2 {
   font-size: 320%;
   line-height: 120px;
   margin-top: 7%;
}


#read {
   margin-top: 6%;
   padding: 1%;
   font-size: large;
   border: none;
   cursor: pointer;
   border-radius: 25px;
}

#read a {
   text-decoration: none;
   color: #0D1B2A;
}


.why-this-title {
   width: 100%;
   margin-top: 4%;
   padding: 1%;
   display: flex;
   border-top: solid 1px #7B3F00;
   border-bottom: solid 1px #7B3F00;
}

.why-this-title>div {
   width: 50%;
   padding: 2%;
   line-height: 34px;
}

.why-this-title img {
   width: 50%;
   padding-left: 17%;

}

.personal-blog {
   width: 100%;
   display: flex;

}
.navigation {
   margin: 1%;
   width: 50%;
   text-align: center;
   padding:10% 0% 4% 0%;
}

.navigation a {
   box-shadow: 1px 2px 5px gray;
   color: #111224;
   text-decoration: none;
   cursor: pointer;
   line-height: 90px;
   display: flex;
   font-size: 2.5em;
   flex-direction: column;
}
.blog-content {
   padding: 3%;
   width: 50%;
   transition: all 0.5s ease; 
   img{
      border: solid #FFD700;
   }
}

.personal-blog-content {
   line-height: 33px;
   transition: opacity 0.5s ease-in-out;
   transition: opacity 0.5s ease;
}

.personal-blog-content:target {
   display: block;
   opacity: 1;
}
#first-page img{
   box-shadow:1px 9px 15px #a3a4a5;
   margin-left: 17%;
   width: 65%;
}

#intro {
   width: 100%;
   display: flex;
}

#intro img {
   box-shadow:1px 9px 15px #a3a4a5;
   margin-left: 17%;
   width: 65%;
}



#reflection-thought {
   width: 90%;
   height: 10vh;
   padding: 0%;
   position: relative;
}
#personal-reflection{
   position: relative;
}
#personal-reflection p{
   width: 60%;
}
#personal-reflection img {
   box-shadow:1px 9px 15px #a3a4a5;
   position: absolute;
   right: -6%;
    top: 0%;
   height: 40vh;
   width: 20vw;
   border: none;
}

#response-to-quote {
   margin-left: 10%;
   position: relative;
}
#first-page{
   display: block;
}

.greater {
   position: absolute;
   right: 25%;
   cursor: pointer;
   top: 100%;
}

.less {
   position: absolute;
   cursor: pointer;
   top: 100%;
   right: 35%;
}

#reflection-thought button {
   border: none;
   border-radius: 50%;
   width: 7%;
   font-size: large;
   padding: 1.5%;
   cursor: pointer;
}

.quote {
   padding-left: 1%;
   border-left: solid 1px;
}

.special-quote , .quote {
   font-size: x-large;
   animation: fadeIn 2s ease forwards;
   font-family: "Playfair";
   color:#7B3F00;
}
.hidden {
   display: none;
}

.response {
   display: none;
}

.response.active {
   display: block;
}


.about-trevor {
   padding-left: 7%;
   display: flex;
   gap: 10%;
}
.about-trevor img{
   border:#d8d82d solid 1px ;
   box-shadow:1px 9px 15px #a3a4a5;
}
#about-trevor{
   margin-top: 6%;
}
.about-trevor img {
   width: 20vw;
   height: 50vh;
}
#noah-trevor img{
   width: 30vw;
   height: 40vh;
}
#noah-trevor p{
color: #7B3F00;
}
footer {
   margin-top: 4%;
   padding: 1%;
   background-color: #1B1B1B;
   text-align: center;
   color: white;
}
footer a{
text-decoration: none;
font-size: larger;
color: white;
}
.icon{
   margin:0% 43% ;
   width: 10%;
   font-size: 1.5em;
   display: flex;
   gap: 25%;
   justify-content: space-around;
}
.icon i{
   font-size: 1.5em;
   padding: 7%;

}

#first-line {
   width: 50%;
}

input {
   border: none;
   border-radius: 12px;
   color: white;
   padding: 1%;
   margin: 1% 0.2%;
   background-color: transparent;
   border-bottom:solid  #eff0ef;
}
#email{
   width: 34%;
}

hr {
   height: 2px;
   border-width: 0;
   background-color: rgb(95, 88, 88)
}



@media only screen and (max-width:750px) {
   
.home h1 {
   font-size: 20px;
   animation: fadeIn 2s ease forwards;
}
.header {
   padding-top: 2.5%;
   display: flex;
   justify-content: space-between;
   color: white;
   font-size: 15px;
   background-color: #0D1B2A;
}
.header div:not(:nth-child(3)){
   margin-top: 1.5%;
}

.home h2 {

   margin-top: 7%;
   font-size: 25px;

}

#read {
   margin-top: 20%;
   padding: 3%;
   font-size: medium;
   border: none;
   cursor: pointer;
   border-radius: 25px;
}
#menu-button {
   font-size: 20px;
   cursor: pointer;
   background: none;
   border: none;
   color: white;
   z-index: 1001;
   position: relative;
}
   #menu nav a {
      color: #0D1B2A;
      text-decoration: none;
      font-size: 0.6rem;
      margin: 20px 0;
      transition: color 0.3s ease;
   }
   .why-this-title {
      margin-top: 4%;
      padding: 1%;
      height: 70vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      border-top: solid 1px #7B3F00;
      border-bottom: solid 1px #7B3F00;
   }
   .why-this-title-content p{
      font-size: small;
        height: 10vh;
        width: 100vw;
   }
   .why-this-title-content h1{
        width: 100vw;
   }
   .why-this-title img {
      width: 65vw;
      height: 35vh;
      padding-left: 17%;
   }
   .response {
      display: none;
   }
   .personal-blog {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100vh;
   }
   .personal-blog-content {
      padding-top: 2%;
      line-height: 33px;
      display: none;
      opacity: 0;
      height: 100vh;
      transition: opacity 0.5s ease-in-out;
   }
   
   .blog-content {
      margin-left: 1%;
      margin-top: 5%;
      width: 100%;
      height: 100vh;
   }

   #intro {
      width: 90%;
   }
   
   #intro img {
      margin-left: 15%;
      width: 75%;
   }
   
   .navigation {
      background-color: #E0E1DD;
      width: 50%;
      padding-top: 7%;
      padding-left: 25%;
   }
   
   .navigation a {
      color: #111224;
      text-decoration: none;
      cursor: pointer;
      line-height: 90px;
      display: flex;
      font-size: 1.1em;
      flex-direction: column;
   }
   
   #reflection-thought {
      width: 90%;
      padding: 0%;
      position: relative;
      height: 60vh;
   
   }
   
   #personal-reflection {
      display: flex;
      flex-direction: column;
      height: 100vh;
      font-size: 15px;
     
   }
   #menu {
      position: fixed;
      top: -1%;
      right: 0;
      height: 100vh;
      width: 30%;
      background-color: #E0E1DD;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: transform 0.4s ease;
      z-index: 1000;
   }
   
   #personal-reflection img {
      margin-left: 25%;
      width: 50vw;
      height:40vh;
   }
   
   .about-trevor {
      padding-left: 7%;
      display: flex;
      flex-wrap: wrap;
      gap: 10%;
   }
   #about-trevor{
      margin-top: 6vh;
   }
   .about-trevor img {
      margin-top: 2%;
      width: 40vw;
      height: 30vh;
   }
   #noah-trevor{
      width: 85vw;
   }
   .greater {
      right: 25%;
      cursor: pointer;
      top: 110%;
   }
   
   .less {
      cursor: pointer;
      top: 110%;
      right: 35%;
   }
   #personal-reflection {
      display: flex;
      flex-direction: column;
   }
   
   #personal-reflection img {
      width: 55vw;
   }
   input {
      border: none;
      border-radius: 12px;
      padding: 3%;
      margin: 1% 2%;
   }
   footer {
      margin-top: 4%;
      padding: 1%;
      background-color: #1B1B1B;
      text-align: center;
      color: white;
      font-size: small;
   }
   #reflection-thought {
      width: 90%;
      padding: 0%;
      position: relative;
     overflow:scroll;
      span {
         font-size: xx-large;
         position: absolute;
   
      }
   }
   
   
}

@media only screen and (min-width:751px) and (max-width:999px){
   .home h2 {

      margin-top: 17%;
      font-size: 25px;
   
   }
   .why-this-title {
      margin-top: 4%;
      padding: 1%;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      border-top: solid 1px #7B3F00;
      border-bottom: solid 1px #7B3F00;
   }
   .why-this-title-content p{
      font-size: large;
      width: 100vw;
        height: 50vh;
   }
   .why-this-title-content h1{
     width: 100vw;
   }
   .why-this-title-content{
      font-size: large;
      width: 100vw;
        height: 35vh;
   }
   .why-this-title img {
      width: 75vw;
      height: 40vh;
      padding-left: 17%;
   }
   #read {
      margin-top: 20%;
      padding: 3%;
      font-size: medium;
      border: none;
      cursor: pointer;
      border-radius: 25px;
   }
   .navigation a {
      color: #111224;
      text-decoration: none;
      cursor: pointer;
      line-height: 90px;
      display: flex;
      font-size: 1.7em;
      flex-direction: column;
   }
   .personal-blog-content {
      padding-top: 2%;
      line-height: 33px;
      display: none;
      width: 100vw;
      opacity: 0;
      font-size: small;
      height: 100vh;
      transition: opacity 0.5s ease-in-out;
   }
   #reflection-thought {
      width: 90%;
      padding: 0%;
      height: 50vh;
      position: relative;
     overflow:scroll;
      span {
         font-size: xx-large;
         position: absolute;
   
      }
   }
   #personal-reflection {
      border: solid ;
      height: 20vh;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      margin-top: 4%;
   }
   #personal-reflection img {
       margin-left: 12%;
      height: 35vh;
      width: 35vw;
   }
   .about-trevor {
      padding-left: 7%;
      display: flex;
      flex-wrap: wrap;
      gap: 10%;
   }
 
   #noah-trevor{
      margin-top: 4%;
      width: 85vw;
   }
   #response-to-quote {
      margin-left: 10%;
      position: relative;
      height: 100vh;
   }
   .greater {
      right: 25%;
      cursor: pointer;
      top: 30%;
   }
   
   .less {
      cursor: pointer;
      top: 30%;
      right: 35%;
   }
   .personal-blog {
      width: 100vw;
      display: flex;
      flex-direction: column;
      height: 100vh;
   }
   .blog-content {
      margin-left: 1%;
      margin-top: 5%;
      width: 100%;
      height: 40vh;
   }
   .response.active {
      display: block;
      height: 40vh;
   }
}

